extends layout

block content
  main
    .firstBlock
      .logo
        img#logo(src='images/logo.svg')
      a#langto(href=`/${text["langto"]}`) #{text['langto']}
      .textBLock
        h1 #{text['h1']}
        .blackbg
          p
            | #{text['firstBlockp']}
          div
            a.pbut(href='#popup:marquiz_604e2784af339f0044c3ca9f') #{text['firstBlockBut']}
    .startWave
    .secondBlock
      h2 #{text['h2']}
      #vkpostS

    script(type='text/javascript').
      (function () {
          let listPosts = !{JSON.stringify(posts)}

          const parent = document.getElementById("vkpostS");
          let code = ''
          for (let post of listPosts) {
              let id_num = post.attachments[0].photo.sizes.length - 1;
              let photo = post.attachments[0].photo.sizes[id_num].url;
              let index_between_text = post.text.indexOf('\n')
              let in_for_link = post.text.indexOf('✅')
              let h = post.text.slice(0, index_between_text)
              let p = post.text.slice(index_between_text, in_for_link)
              let l = post.text.slice(in_for_link+1)

              code += `<div class="vkpost">
                                      <div class="post" style="background: url('${photo}') no-repeat;">
                                          <div class="postText">
                                              <div class="shadow"></div>
                                              <h3>${h}</h3>
                                              <p>${p}</p>
                                              <a href="${l}"><div class="Button">#{text["more"]}</div></a>
                                          </div>
                                      </div>
                                  </div>`


          }

          parent.innerHTML = code

      })()

    .endOFwave
    .footerHead
    .ob
      .footer
        a.pbut #{text['footerBut']}
        p
          | #{text['footerP']}
        // pre is original way
